:root {
    --white: #F5F7F8;
    --black: #45474B;
    --yellow: #F4CE14;
    --green: #495E57;
    background-color: var(--white);
    color: var(--black);
    font-size: larger;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

.XOGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    /* this creates the lines */
    background: var(--black);
    /* the lines color */
    padding: 3px;
}

.cell {
    width: 125px;
    height: 125px;
    text-align: center;
    font-size: larger;
    background: var(--white);
    /* cell background */
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.pacifico-light {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-style: normal;
}

.flex {
    display: flex;
    flex-direction: column;
}